<%- include("partials/navbar") -%>
<div class="container-book">
  <h1>Book your destination now</h1>
  <div class="container-booking">
    <div class="container-booking-top-left">
      <h1><%= bookDest.country %></h1>
      <h4><%= bookDest.about %></h4>
    </div>
    <div class="container-booking-top-right">
      <img src="<%= bookDest.image %>" alt="" />
    </div>
  </div>
  <%- include("partials/footer") -%>
</div>
