<%- include("partials/navbar") -%>
<body>
  <div class="container-2">
    <h4>
      Select the activities you would like to try and we'll match them with the
      locations we offer
    </h4>
    <% activities.forEach(activity => { %>
      <form action="/calculator" method="post">
        <div class="activity">
        <label for="<%= activity %>"><%= activity %></label>
        <input type="checkbox" name="options" id="<%= activity %>">
      </div>
    <% }) %>
    <button class="btn calc-btn" type="submit" id>Search</button>
      </form>

      <% options.forEach(option => { %>
        <p><%= option %></p>
      <% }) %>
</body>
<%- include("partials/footer") -%>
