<%- include("partials/header") -%>

    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

   <div class="box">
        <% listItems.forEach(element => { %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= element %></p>
            </div>
        <% }); %>

        <form action="/" method="post" class="item">
            <input type="text" name="todo" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
   </div>

<%- include("partials/footer") -%>
