<%- include("partials/header") -%>

<h1>Home</h1>
<p><%- homeContent %></p>

<% posts.forEach(post => { %>
    <h1><%- post.title %></h1>
    <p><%- post.body %></p>
<% }) %>

<%- include("partials/footer") -%>



<!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum modi obcaecati ullam temporibus distinctio quasi, adipisci iure repellendus id, nemo aliquam labore tenetur consequatur ex ratione fugit consectetur, sapiente ad porro tempore! Beatae dolor aperiam, maiores voluptatibus quos nam ipsa ipsam, odit sed, est asperiores minus doloribus commodi architecto a aliquam porro odio perspiciatis cumque rerum eum adipisci! Vitae inventore, eius dolores placeat, officiis soluta aspernatur magnam ducimus dolor laudantium saepe dolorum accusantium nostrum est aliquam quo iste sapiente facere nulla animi. Omnis et delectus culpa magnam amet optio, in porro magni ex eius eveniet cupiditate veniam quisquam autem quidem. -->